Options +FollowSymLinks
RewriteEngine On
Options -Indexes
<Files ~ "\.(env|json|config.js|md|gitignore|gitattributes|lock|editorconfig|yml|styleci.yml)$">
	Order allow,deny
	Deny from all
</Files>
<Files ~ "^\.git">
    Order allow,deny
    Deny from all 
</Files>
<Files ~ "^\.git\index">
    Order allow,deny
    Deny from all 
</Files>
 <Files ~ "(artisan|package.json|webpack.mix.js|adsapi_php.ini|composer-setup.php|composer-temp.phar|phpunit.xml)$">
     Order allow,deny
     Deny from all
 </Files>

RedirectMatch 404 /\.git
RedirectMatch 404 /\.git/index

Redirect 301 /public/ /

RewriteCond %{REQUEST_URI} !^/public/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ /public/$1
#RewriteRule ^ index.php [L]
RewriteRule ^(/)?$ public/index.php [L]
RedirectMatch 404 /\.git